---
layout: layout
---
<div class="home">
    <div class="about">
        <div class="clearfix">
            <h1>Sonny T.</h1>
            <ul class="socialmedia">
                <li><a target="_blank" href="http://github.com/sonnyt"><i class="fa fa-github"></i></a></li>
                <li><a target="_blank" href="http://twitter.com/sonnyt"><i class="fa fa-twitter"></i></a></li>
                <li><a target="_blank" href="http://themeforest.net/user/sonnyt"><i class="fa fa-leaf"></i></a></li>
                <li><a target="_blank" href="mailto:hi@sonnyt.com"><i class="fa fa-envelope"></i></a></li>
                <li><a target="_blank" href="http://www.linkedin.com/pub/sonny-tulyaganov/18/964/910"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
        <p>I am a New York City based web developer. Currently a Front End Developer at Onevest. I am a founder of OneClick Lab and creator of <a target="_blank" href="http://uglyemail.com">Ugly Email</a>. I'm also a designer, developer and the wizzard at <a href="http://themewizz.com" target="_blank">ThemeWizz</a>.</p>
    </div>

    {% for post in site.posts %}
        {% include post.html %}
    {% endfor %}
</div>
