/* Homepage Grid */
.grid {
    padding-top: 1px;

    // Grid articles
    article {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding: 15px 0 25px;
        margin-top: -1px !important;
        max-height: 290px;
        min-height: 290px;

        @media only screen and (max-width: 767px) {
            min-height: 0px;
        }

        @media only screen and (min-width: 768px) {
            &.featured {
                width: 450px !important; // I know, I know, not cool.
            }
        }

        // Top info
        .info-top {
            span, i {
                padding-top: 5px;
                color: #666;
            }

            i {
                font-size: .9em;
                float: right;
            }

            span {
                font-size: .8em;
                text-transform: capitalize;
            }

            padding-bottom: 4px;
        }

        // Title
        h2 {
            font-size: 1.6em;
            font-weight: 300;

            a {
                font-weight: 300;
            }
        }

        // Content
        .content {
            margin: 10px 0;
        }
    
        // Bottom Info
        .info-bottom {
            font-size: .8em;
            color: #666;

            span {
                width: 49%;
                display: inline-block;

                i {
                    margin-right: 5px;
                }
            }
        }

        // Buttons
        .btn {
            margin-top: 1em;
            width: 49%;
            
            i {
                @include transition-property(all);
                @include transition-duration(0.2s);
            }

            &.blue:hover {
                i {
                    margin-left: 10px;
                }
            }

            &.red:hover {
                i {
                    font-size: 1.15em;
                }
            }
        }
    }
}