/* Homepage Grid */
.grid {
    padding-top: 11px;

    // Grid articles
    article {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding: 15px 0 25px;
        margin-top: -11px !important;
        max-height: 290px;
        min-height: 290px;

        @media only screen and (max-width: 767px) {
            min-height: 0px;
        }

        @media only screen and (min-width: 768px) {
            &.featured {
                width: 450px !important; // I know, I know, not cool.
            }
        }

        // Top info
        .info-top {
            span, i {
                padding-top: 5px;
                color: #666;
            }

            i {
                font-size: .9em;
                float: right;
            }

            span {
                font-size: .8em;
                text-transform: capitalize;
            }

            padding-bottom: 4px;
        }

        // Title
        h2 {
            font-size: 1.6em;
            font-weight: 300;

            a {
                font-weight: 300;
            }
        }

        // Content
        .content {
            margin: 10px 0;
            min-height: 100px;
        }

        .image {
            position: relative;
            display: block;
            line-height: 0;

            &:hover {
                .overlay {
                    opacity: 1;
                }

                i {
                    opacity: 1;
                    top: 50%;
                }
            }

            img {
                width: 100%;
            }

            i {
                position: absolute;
                top: 100%;
                left: 50%;
                font-size: 2.5em;
                margin-top: -18px;
                margin-left: -11px;
                opacity: 0;
                
                @include transition-property(all);
                @include transition-duration(0.2s);
            }
            
            .overlay {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                background: rgba(250, 250, 250, .8);

                @include transition-property(opacity);
                @include transition-duration(0.2s);
            }
        }
    
        // Bottom Info
        .info-bottom {
            font-size: .8em;
            color: #666;

            span {
                width: 49%;
                display: inline-block;

                i {
                    margin-right: 5px;
                }
            }
        }

        // Buttons
        .btn {
            margin-top: 1em;
            width: 49%;
            
            i {
                @include transition-property(all);
                @include transition-duration(0.2s);
            }

            &.blue:hover {
                i {
                    margin-left: 10px;
                }
            }

            &.red {
                overflow: hidden;
                &:hover {
                    div {
                        top: 0;
                    }
                }

                div {
                    background: rgba(218,85,79,1);
                    color: white;
                    position: absolute;
                    width: 100%;
                    left: 0;
                    top: 100%;
                    height: 100%;
                    padding: 0.5em 1em;

                    @include transition-property(all);
                    @include transition-duration(0.2s);

                    a {
                        color: white;
                        margin-right: 5px;

                        &:hover {
                            color: white;
                            font-size: 1.15em;
                        }
                    }
                }
            }
        }
    }
}