/* Article Detail */
article {
    padding-bottom: 50px;
    margin-bottom: 50px;

    h3, h1.title {
        font-size: 2em;
        color: #555;
        font-weight: 300;

        a {
            font-weight: 300;
        }
    }

    .info {
        color: #999;
        font-weight: 300;
        text-transform: capitalize;

        i {
            margin-right: 8px;
        }

        span {
            margin-right: 20px;
        }

        a {
            color: #999;
            font-weight: 300;
            margin-right: 5px;

            &:hover {
                color: #46bbc4;
            }

            &:after {
                content: ',';
            }

            &:last-child:after {
                content: '.';
            }
        }
    }

    .content {

    }

    border-bottom: 1px dotted #d8d7d7;
}