/* Article Detail */
article {
    padding-bottom: 50px;
    margin-bottom: 50px;
    opacity: 0;

    @include transition-property(opacity, scale);
    @include transition-duration(0.2s);
    @include scale(.5,.5);

    &.show {
        opacity: 1;

        @include scale(1, 1);
    }

    h3, h1.title {
        font-size: 2em;
        color: #555;
        font-weight: 300;

        a {
            font-weight: 300;
        }

        strong {
            float: right;
        }
    }

    .image {
        position: relative;
        display: block;
        line-height: 0;

        &:hover {
            a.overlay {
                opacity: 1;
            }

            a.action {
                opacity: 1;
                top: 50%;
            }
        }

        img {
            width: 100%;
        }

        a.action {
            color: #46bbc4;
            position: absolute;
            top: 100%;
            left: 50%;
            font-size: 2.5em;
            margin-top: -18px;
            opacity: 0;

            @include transition-property(opacity, top);
            @include transition-duration(0.2s);

            &:nth-child(3) {
                margin-left: -70px;

                @include transition-delay(.1s);
            }

            &:nth-child(4) {
                @include transition-delay(.2s);
            }

            &:nth-child(5) {
                margin-left: 70px;

                @include transition-delay(.3s);
            }

            &:hover {
                color: rgba(218,85,79,1);
            }
        }
        
        a.overlay {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            background: rgba(250, 250, 250, .8);
            display: block;

            @include transition-property(opacity);
            @include transition-duration(0.2s);
        }
    }

    .info {
        color: #999;
        font-weight: 300;
        text-transform: capitalize;

        i {
            margin-right: 8px;
        }

        span {
            margin-right: 20px;
        }

        a {
            color: #999;
            font-weight: 300;
            margin-right: 5px;

            &:hover {
                color: #46bbc4;
            }
        }

        .tag {
            background: #eee;
            padding: 3px 10px;
            font-size: .85em;

            @include border-radius(5px);
            @include transition-property(opacity);
            @include transition-duration(0.2s);

            &:hover {
                color: #999;
                opacity: .7;
            }
        }

        .details {
            float: right;
            font-size: 1.1em;
            line-height: 1.7em;

            i {
                margin-right: 0;
                margin-left: 5px;
            }
        }
    }

    .buttons {
        margin-top: 10px;
    }

    .text {
        .icons {
            background: $gray;
            padding: 30px 0;
            text-align: center;
            font-size: 5em;
            line-height: 0;
            color: #666;
            margin: 20px 0;
            position: relative;

            i {
                margin: 0 15px;
            }

            &:after {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border-width: 10px;
                border-style: solid;
                border-color: $gray transparent transparent transparent;
                bottom: -20px;
                left: 50%;
                margin-left: -5px;
            }
        }

        .features {
            li {
                margin-top: 25px;
                text-align: center;

                i {
                    font-size: 2.5em;
                    margin-bottom: 10px;
                    color: $prime;
                }

                strong {
                    display: block;
                }
            }
        }

        .images {
            padding: 10px 0;
            margin: 20px 0;

            img {
                border: 2px solid #eee;
            }
        }

        h1 {
            font-size: 1.8em;
            color: #555;
            font-weight: 300;
            margin: 5px 0 10px;
        }

        h2 {
            font-size: 1.5em;
            color: #555;
            font-weight: 300;
            margin: 5px 0 10px;
        }

        ul {
            list-style-position: inside;
        }
    }

    border-bottom: 1px dotted #d8d7d7;
}