/* Import Compass */
@import "compass";

/* Import Partials */
@import 'reset'; // HTML5 Doctor Reset
@import 'skeleton'; // Fork of Skeleton Framework's 960 Response Grid

@import 'keyframes';

@import 'vars';
@import 'fonts';
@import 'buttons';
@import 'sidebar';
@import 'post';

/* GLOBAL */
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font: normal 400 14px/1.7 'Lato', sans-serif;
    color: #373f47;
    padding: 20px 0;
}

a {
    color: #333;
    text-decoration: none;
    font-weight: 700;

    &:hover {
        color: #46bbc4;
    }
}

p {
    padding: 10px 0;
}

.main {
    line-height: 2;
}