<section class="four columns sidebar">
    <!-- Info -->
    <h1 class="title"><a href="/" title="{{ site.title }}">{{ site.title }}</a></h1>
    <span>{{ site.description }}</span>
    <!-- /Info -->

    <!-- Social Buttons -->
    <ul class="social module">
        <li><a href="http://twitter.com/{{ site.twitter }}" title="Twitter" target="_blank"><i class="icon-twitter"></i></a></li>
        <li><a href="http://www.linkedin.com/pub/{{ site.linkedin }}" title="Linkedin" target="_blank"><i class="icon-linkedin"></i></a></li>
        <li><a href="http://themeforest.net/user/{{ site.themeforest }}" title="Themeforest" target="_blank"><i class="icon-leaf"></i></a></li>
        <li><a href="http://github.com/{{ site.github_user }}" title="GitHub" target="_blank"><i class="icon-github"></i></a></li>
        <li><a href="mailto:{{ site.email }}" title="Email" target="_blank"><i class="icon-envelope-alt"></i></a></li>
    </ul>
    <!-- /Social Buttons -->

    <!-- Menu -->
    <ul class="menu module">
        <li><a href="/blog" title="Blog"><i class="icon-pencil"></i>Blog</a></li>
        <li><a href="/work" title="Work"><i class="icon-leaf"></i>Work</a></li>
    </ul>
    <!-- /Menu -->
    
    <!-- Twitter -->
    <div class="twitter module">
        <div class="icon-twitter button"></div>
        <div class="tweet"></div>
    </div>
    <!-- /Twitter -->

    <!-- Stats -->
    <ul class="stats module">
        <li id="github">
            <em>0</em> <span>Repos</span>
        </li>
        <li id="themeforest">
            <em>0</em> <span>Themes</span>
        </li>
        <li>
            <em>{{ site.posts | size }}</em> <span>Posts</span>
        </li>
    </ul>
    <!-- /Stats -->
    <a href="http://github.com/sonnyt/sonnyt.github.io" target="_blank" class="btn red module icon-github-alt" style="display: block;"><span>Fork</span></a>
</section>
