<section class="four columns sidebar">
    <!-- Info -->
    <h1 class="title">{{ site.title }}</h1>
    <span>
        New York based web junkie. Currently lead developer at StyleCaster Media Group.
    </span>
    <!-- /Info -->

    <!-- Social Buttons -->
    <ul class="social module">
        <li><a href="http://twitter.com/{{ site.twitter }}" title="Twitter" target="_blank"><i class="icon-twitter"></i></a></li>
        <li><a href="http://www.linkedin.com/pub/{{ site.linkedin }}" title="Linkedin" target="_blank"><i class="icon-linkedin"></i></a></li>
        <li><a href="http://github.com/{{ site.github }}" title="GitHub" target="_blank"><i class="icon-github"></i></a></li>
        <li><a href="mailto:{{ site.email }}" title="Email" target="_blank"><i class="icon-envelope-alt"></i></a></li>
    </ul>
    <!-- /Social Buttons -->

    <!-- Menu -->
    <ul class="menu module">
        <li><a href="#" title="Blog"><i class="icon-pencil"></i>Blog</a></li>
        <li><a href="#" title="Themeforest"><i class="icon-leaf"></i>Themeforest</a></li>
        <li><a href="#" title="Freebies"><i class="icon-gift"></i>Freebies</a></li>
    </ul>
    <!-- /Menu -->
    
    <!-- Twitter -->
    <div class="twitter module">
        <div class="icon-twitter button"></div>
        <div class="tweet"></div>
    </div>
    <!-- /Twitter -->

    <!-- Stats -->
    <ul class="stats module">
        <li>
            <em>5</em> <span>Repos</span>
        </li>
        <li>
            <em>3</em> <span>Themes</span>
        </li>
        <li>
            <em>{{ site.posts | size }}</em> <span>Posts</span>
        </li>
    </ul>
    <!-- /Stats -->
</section>