@import "homepage.css";
@import "blog.css";
@import "pygments.css";

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.75em;
  font-family: 'Open Sans', sans-serif;
  color: #597a96;
}

p {
  margin: 0 0 15px;
}

a {
  color: #597a96;
  text-decoration: none;
  border-bottom: 1px dotted;
}

a:hover, a:active, a:focus {
  color: #12aaeb;
  text-decoration: none;
}

.text-right {
  text-align: right;
}
