html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.75em;
  font-family: 'Open Sans', sans-serif;
  color: #597a96;
}

p {
  margin: 0 0 15px;
}

a {
  color: #597a96;
  text-decoration: none;
  border-bottom: 1px dotted;
}

a:hover, a:active, a:focus {
  color: #12aaeb;
  text-decoration: none;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

header h1,
section h2,
section h3,
section h4 {
  font-weight: 300;
}

hr {
  margin: 20px 0;
  border-color: #d4dbe3;
  border-width: 1px;
}

/**
 * Home
 */

header.header {
  padding-top: 210px;
  padding-bottom: 350px;
}

header h1.title {
  color: #043140;
  margin: 0 0 30px;
  font-size: 4.3rem;
}

header.header h1.title a {
  color: #d4dbe3;
  border: 0;
  margin: 0 3px;
}

header.header h1.title a.fa-twitter:hover {
  color: #00aced;
}

header.header h1.title a.fa-linkedin:hover {
  color: #007bb5;
}

header.header h1.title a.fa-github:hover {
  color: #666666;
}

section.section .content {
  padding: 80px 0 50px;
}

section.section h2 {
  margin: 0 0 25px;
  font-size: 3.4rem;
}

section.section h3,
section.section h4 {
  margin: 0 0 10px;
}

section.section article {
  margin-bottom: 30px;
}

section.section hr {
  margin: 0;
  border-width: 3px;
}

section.section.blog-list article a {
  display: block;
}

/**
 * Blog
 */

article.post {
  color: #043140;
  margin-bottom: 60px;
  padding: 0 10px 60px;
  border-bottom: 1px solid #d4dbe3;
}

article.post .meta {
  border-bottom: 1px solid #d4dbe3;
  padding: 0 0 10px;
  margin-top: -10px;
  margin-bottom: 20px;
  font-size: 1.4rem;
}

article.post:first-child {
  margin-top: 50px;
}

article.post:last-child {
  border-width: 0;
  margin-bottom: 0;
}

article.post .date {
  font-size: 1.3rem;
  color: #597a96;
  font-weight: 400;
}

article.post .title {
  font-family: 'Merriweather', Georgia, serif;
  margin: 0 0 20px;
  font-size: 3.6rem;
  display: block;
  font-weight: 400;
  line-height: 1.5;
}

article.post .title a {
  text-decoration: none;
  border: 0;
  color: #043140;
}

article.post .title a:hover {
  color: #12aaeb;
}

article.post .content {
  font-family: 'Merriweather', Georgia, serif;
  font-size: 1.4rem;
  line-height: 2.3;
  font-weight: 400;
}

article.post .content code {
  background-color: #f5f6f7;
  border-radius: 3px;
  padding: 0 5px;
}

article.post .content pre {
  background-color: #333;
  font-size: 12px;
  line-height: 1.5;
  padding: 10px 15px;
  margin: 15px 0 20px;
  border-radius: 3px;
}

article.post .content pre code {
  background-color: transparent;
  padding: 0;
}

article.post .content p {
  margin-bottom: 20px;
}

article.post .content blockquote {
  position: relative;
  background-color: #f5f6f7;
  margin: 0;
  font-style: italic;
  padding: 15px 40px 15px 30px;
  border-radius: 3px;
  margin-bottom: 20px;
}

article.post .content blockquote p {
  margin-bottom: 0;
}

article.post .content blockquote:before {
  color: #597a96;
  font-family: Georgia, serif;
  content: "”";
  font-style: normal;
  position: absolute;
  right: -18px;
  top: 15px;
  font-size: 9rem;
  line-height: 1;
}

.navgation {
  margin: 50px 0;
}

.navgation h4 {
  margin: 0;
}

.navgation a {
  border: 0;
  margin: 0;
}

/**
 * Footer
 */

footer.footer {
  padding: 25px 0;
  font-size: 1.2rem;
  line-height: 2;
  font-weight: 400;
}

footer.footer hr {
  border-width: 3px;
}
