<article class="four omega columns post item">
    <div class="info-top">
        <span class="category">{{ post.category }}</span> <i class="icon-{{ icon }}"></i>
    </div>

    <h2><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>

    <div class="content">{{ post.content | strip_html | truncatewords: 15 }}</div>

    <div class="info-bottom clearfix">
        <span><i class="icon-calendar"></i> {{ post.date | date: "%b. %d, %Y" }}</span>   
        <!-- <span><i class="icon-comments"></i> 2 Comments</span> -->
    </div>

    <span href="#" class="btn red" title="Share"><i class="icon-heart left"></i> Share
        <div><a href="https://twitter.com/share?url={{ site.url | cgi_escape }}{{ post.url | cgi_escape }}&text={{ post.title | cgi_escape }}" target="_blank" class="icon-twitter-sign" alt="Twitter"></a> <a href="http://www.facebook.com/sharer.php?u={{ site.url | cgi_escape }}{{ post.url | cgi_escape }}" class="icon-facebook-sign" title="Facebook" target="_blank"></a> <a href="https://plusone.google.com/_/+1/confirm?hl=en&url={{ site.url | cgi_escape }}{{ post.url | cgi_escape }}" class="icon-google-plus-sign" alt="Google+"></a> </div>
    </span> 
    <a href="{{ post.url }}" class="btn blue" title="Read">Read <i class="icon-angle-right right"></i></a>
</article>