<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% if page.title %} {{ page.title }} | {% endif %} Sonny T.</title>
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
        {% if page.description %}
        <meta name="description" content="{{ page.description }}" />
        {% else %}
        <meta name="description" content="New York based web developer Sonny T." />
        {% endif; %}

        {% if page.tags %}
        <meta name="keyword" content="{{ page.tags || join:',' }}" />
        {% endif; %}
        <meta name="HandheldFriendly" content="true" />
        <meta name="viewport" content="width=device-width, user-scalable=no,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
        <script type="text/javascript">
            // Usernames
            var twitter_username = '{{ site.twitter }}',
                github_username = '{{ site.github }}',
                themeforest_username = '{{ site.themeforest }}';
        </script>
    </head>
    <body>
        <div class="container">
            {% unless page.no_sidebar %}
                {% include sidebar.html %}
            {% endunless %}

            <section class="{% if page.no_sidebar %}sixteen{% else %}twelve{% endif %} columns main">
                {{ content }}
            </section>
        </div>

        <!-- Google Analytics -->
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-21599784-2']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>

        <!-- SCRIPTS -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="/assets/js/libs/twittie.min.js"></script>
        <script type="text/javascript" src="/assets/js/libs/waypoints.min.js"></script>
        <script type="text/javascript" src="/assets/js/main.js"></script>
    </body>
</html>