<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% if page.title %} {{ page.title }} | {% endif %} Sonny T.</title>
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
        {% if page.description %}
        <meta name="description" content="{{ page.description }}" />
        {% else %}
        <meta name="description" content="New York based web developer Sonny T." />
        {% endif; %}

        {% if page.tags %}
        <meta name="keyword" content="{{ page.tags || join:',' }}" />
        {% endif; %}
        <meta name="HandheldFriendly" content="true" />
        <meta name="viewport" content="width=device-width, user-scalable=no,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    </head>
    <body>
        <div class="container">
            <section class="offset-by-one fourteen columns main">
                {{ content }}
            </section>
        </div>

        <p class="comment">Just a blog.</p>

        <div class="menu">
            <a href="#wheel" class="wheel-button"></a>

            <ul id="wheel">
                <li class="item"><a target="_blank" href="http://github.com/sonnyt"><i class="fa fa-github"></i></a></li>
                <li class="item"><a target="_blank" href="http://twitter.com/sonnyt"><i class="fa fa-twitter"></i></a></li>
                <li class="item"><a target="_blank" href="http://themeforest.net/user/sonnyt"><i class="fa fa-leaf"></i></a></li>
                <li class="item"><a target="_blank" href="mailto:hi@sonnyt.com"><i class="fa fa-envelope"></i></a></li>
                <li class="item"><a target="_blank" href="http://www.linkedin.com/pub/sonny-tulyaganov/18/964/910"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
        <!-- Google Analytics -->
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-21599784-2']);
            _gaq.push(['_setDomainName', 'sonnyt.com']);
            _gaq.push(['_trackPageview']);

            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>
        
        <!-- SCRIPTS -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="/assets/js/lib/jquery.wheelmenu.js"></script>
        <script type="text/javascript" src="/assets/js/lib/waypoints.min.js"></script>
        <script type="text/javascript" src="/assets/js/main.js"></script>
    </body>
</html>
