---
layout: layout
---
{% include icon.html %}

<div class="post">
    <article>
        {% if page.image %}
            <div class="image">
                <img src="/assets/imgs/{{ page.image }}" title="{{ page.title }}" style="width: 100%;" />
            </div>
        {% endif %}
        <h1 class="title clearfix">{{ page.title }}{% if page.price %}<strong>{{ page.price }}</strong>{% endif %}</h1>
        <div class="info clearfix">
            <span>
                {% for tag in page.tags %}
                    <a href="/tags/{{ tag| slugize }}" title="{{ tag }}" class="tag">{{ tag }}</a>
                {% endfor %}
            </span>

            <div class="details">
                {% for icon in page.icons %}
                    <i class="icon-{{ icon }}"></i>
                {% endfor %}

                {% for color in page.colors %}
                    <i class="icon-circle" style="color: {{ color }};"></i>
                {% endfor %}
            </div>
        </div>
        <p class="buttons clearfix offset-by-three">
            <a href="{{ page.buy }}" class="btn red columns alpha three icon-shopping-cart" target="_blank" title="Buy {{ page.title }}"><span>Buy</span></a>
            <a href="{{ page.demo }}" class="btn blue columns three icon-eye-open" target="_blank" title="Preview {{ page.title }}"><span>Demo</span></a>
        </p>
        <div class="text">
            {{ content }}
        </div>
    </article>
</div>